@tailwind base;
@tailwind components;
@tailwind utilities;

html body{
  overflow-x: hidden;
}

.underline-effect-lists {
position: relative;
color: #3b9999;
}

.underline-effect-lists::after {
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: -3px;
width: 90%;
height: 2.5px;
background-color: #3b9999;
border-radius: 15px;
margin: 3px 0px 3px 0px;
transition: width 0.3s ease;
}

#places-list:hover .underline-effect-lists::after {
width: 25px;
}

.fade-enter-active, .fade-leave-active {
transition: opacity 0.2s ease;
}
.fade-enter, .fade-leave-to {
opacity: 0;
}

.underline-effect {
position: relative;
}


.underline-effect::after {
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%);
bottom: -3px;
width: 25px;
height: 2.5px;
background-color: currentColor;
border-radius: 15px;
transition: width 0.3s ease;
}


.underline-effect:hover::after {
width: 90%;
background-color: #3b9999;
}


.fixed {
transition: transform 0.3s ease;
}


.translate-y-full {
transform: translateY(-100%);
}


.hovered-class {
opacity: 1;
}


.fade-enter-active, .fade-leave-active {
transition: opacity 0.2s ease;
}
.fade-enter, .fade-leave-to {
opacity: 0;
}